@import "tailwindcss";




.bg__one {
  @apply bg-gradient-to-br from-green-500 to-blue-900 hover:bg-gradient-to-br hover:from-green-500 hover:to-green-900;
}

.bg__two {
  @apply bg-gradient-to-br from-blue-500 to-blue-900 hover:bg-gradient-to-br hover:from-green-500 hover:to-blue-900;
}












/* ----------------------------------------------------- */
.swiper-pagination-bullet-active {
  background-color: white !important;
  transform: scale(1.5);
}

.swiper-pagination {
  position: absolute;
  bottom: 30px !important;
  left: 0 !important;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 20;
}

.swiper-button-disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}

@keyframes bulletAppear {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

.swiper-pagination-bullet-active {
  animation: bulletActivate 0.3s forwards;
}

@keyframes bulletActivate {
  from {
    transform: scale(0.8);
    opacity: 0.7;
  }
  to {
    transform: scale(1.5);
    opacity: 1;
  }
}